header {
  display: flex;
  height: 100vh;
  padding-top: 5%;
  background-color: rgb(40, 9, 78);
}
h1, p, .nav {
  color: white;
  /*position: relative;*/
  /*color: rgb(18, 220, 235);*/
}
.nav {
  /*position: relative;*/
}

.highlite {
  /*color: rgb(225, 98, 79);*/
  color: rgb(18, 220, 235);
  /*font-size: 20px;*/
}
.divider {
  /*position: absolute;*/
  background-color: rgb(225, 98, 70);
}
